VITE_LOGIN_APP_URL=/login
VITE_API_URL=https://tu-backend-cliente.azurewebsites.net/api
VITE_RUNTIME_CONFIG_URL=https://tu-backend-cliente.azurewebsites.net/api/runtime-config.js
VITE_APP_TENANT_ID=client1
